
run = "npm run dev"
hidden = [".build", ".config"]

[packager]
language = "nodejs"
  [packager.features]
  enabledForHosting = false
  packageSearch = true
  guessImports = true

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/npm/node_global/bin:$PATH"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "gce"
ignorePorts = false
build = ["sh", "-c", "npm install && npm run build"]

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"
syntax = "typescript"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 16139029
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"

[[ports]]
localPort = 3000
externalPort = 80
